<html>
    <!-- Head Tag -->
    <%- partial('_partial/head') %>

    <body>
        
        <div class="container">

            <div class="row">
                <!-- Header: title and subtitle -->
                <%- partial('_partial/header') %>
            </div>

            <div class="col">
                <!-- Menu -->
                <%- partial('_partial/menu') %>
            </div>

            <div class="col main">
                <!-- Main Content -->
                <%- body %>
            </div>

            <div class="col">
                <!-- Footer -->
                <%- partial('_partial/footer') %>
            </div>

        </div>
        
        <!-- After footer scripts -->
        <%- partial('_partial/after-footer') %>
    </body>
</html>