<h2><%- page.title %></h2>

<%- page.content %>

<h1 class="text-center my-5"><strong><%- page.fact %></strong></h1>
<h1 class="text-center my-5"><%- page.greeting %><br><strong><%- page.subject %>  <s><%- page.judgement %></s>  <%- page.fyi %></strong></h1>
